
.logs
{
    height: 40%;
    
    width: 80%;
    
    margin-left: auto;
    margin-right: auto;    
    
    margin-top: 2%;
}

.navigation
{
    margin-left: auto;
    margin-right: auto;
    
    text-align: right;
    
    width: 80%;
}

.newProduct
{
    margin-bottom: 3%;
}

.products
{
    width: 80%;
    
    border-style: dashed;
    border-width: 1px;
    
    margin-left: auto;
    margin-right: auto;
}